code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;

}

main {
  margin-top: 2rem;
  padding: 0 2rem;
}

.header {
  padding: 1.5rem;
  background: linear-gradient(to right bottom,#17173c,#000022, #0a0a0a);
  display: flex;
  align-items: center;
}

.header--left {

}

.header--right {
  line-height: 1.6;
}

.logo {
  width: 6rem;
  margin-right: 2rem;
}

.heading-primary {
  color: #FBF5F3;
  font-size: 3rem;
}

.heading-secondary {
  color: #FBF5F3;
  font-size: 1.8rem;
}

.section {

}

.topic-content {
  padding: 1rem .5rem;
}

.topic-content--title {
  padding: .5rem;
  font-size: 1.6rem;
}

.hidden {
  width: 0%;
  display: none;
}